<div class="my-3">
  <h2>Of and From</h2>
  <br />
  <strong>Ex -01 (OF)</strong>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong> of('Abc','XYZ','A2Z')
      </p>
      <hr />

      <ul id="alContainer"></ul>
    </div>
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong> of('Abc','XYZ','A2Z')
      </p>
      <hr />

      <ul>
        <li>{{ObsMsg.a}}</li>
        <li>{{ObsMsg.b}}</li>
        <li>{{ObsMsg.c}}</li>
      
      </ul>
    </div>
  </div>
</div>
